*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

:root {
  --brand-color: #2e2f42;
  --normal-color: #4d5ae5;
  --active-color: #404bbf;
  --background-color: #ffff;
  --background-color-second: #f4f4fd;
  --text-color: #434455;
  --button-color: #e7e9fc;
  --logo-color: #8e8f99;
  --icon-color: #31d0aa;
  --windowmodal-color: #fcfcfc;
  --backgroundmodal-color: #2e2f4266;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--normal-color);
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  padding: 24px 0;
  display: inline-block;
}
.logo-header {
  color: var(--brand-color);
}
.link {
  text-decoration: none;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.link:hover,
.link:focus {
  color: var(--active-color);
}

.contact {
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover,
.contact:focus,
.contact:active {
  color: var(--active-color);
}
.contact-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.header-main {
  background-color: var(--brand-color);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people_bg.jpg");
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}
.header-one {
  color: var(--background-color);
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  max-width: 496px;
}
.header-hidden {
  overflow: hidden;
}
.button-order {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  background-color: var(--normal-color);
  cursor: pointer;
  padding: 16px 32px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover,
.button-order:focus {
  color: var(--background-color);
  background-color: var(--active-color);
}

.header-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  margin-bottom: 8px;
  text-align: left;
}

.header-three-people {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  margin-bottom: 8px;
  text-align: center;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-align: left;
}
.our-team {
  background-color: var(--background-color-second);
}
.text-people {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-align: center;
}

.header-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color);
  margin-bottom: 72px;
}
.services {
  flex-basis: calc((100% - 48px) / 3);
}
.people {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.logo-footer {
  color: var(--background-color-second);
}
.footer {
  background-color: var(--brand-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.text-footer {
  color: var(--background-color-second);
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
.button-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--normal-color);
  background-color: var(--background-color-second);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--button-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover,
.button-portfolio:focus,
.button-portfolio:active {
  background-color: var(--active-color);
  color: var(--background-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-layout {
  display: flex;
  border-bottom: 1px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-layout {
  margin-right: 76px;
  padding: 24px 0;
  display: inline-block;
}
.list-layout {
  display: flex;
  gap: 40px;
  padding: 24px, 0;
}
.contact-layout {
  display: flex;
  gap: 40px;
  padding: 24px, 0;
}

.menu-layout {
  display: flex;
  gap: 332px;
  align-items: center;
}

.section {
  padding: 120px 0;
}

.section-two {
  padding-bottom: 120px;
}

.header-main-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-one-layout {
  display: flex;
  gap: 24px;
}

.values {
  flex-basis: calc((100% - 72px) / 4);
}

.section-two-layout {
  display: flex;
  gap: 24px;
}

.our-team-layout {
  display: flex;
  gap: 24px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}
.button-portfolio-layout {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.applications {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.item {
  flex-basis: calc((100% - 48px) / 3);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.description_2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 16px;
  border: 1px solid var(--button-color);
  border-top: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.rectangle {
  background-color: var(--background-color-second);
  background-size: 264px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 100px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}
.social-icons {
  width: 40px;
  height: 40px;
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--normal-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--active-color);
}

.customer-logo {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}
.one-logo {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.logocs {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--logo-color);
  border: 1px solid var(--logo-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logocs:hover,
.logocs:focus {
  border-color: var(--active-color);
  color: var(--active-color);
  fill: var(--active-color);
}

.socials {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--background-color);
  margin-bottom: 16px;
}

.footer-social {
  display: flex;
  align-items: baseline;
}
.socials-footer {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}
.social-link-footer {
  width: 100%;
  height: 100%;
  background-color: var(--normal-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--icon-color);
}
.logofill {
  fill: currentColor;
}
.footersm {
  margin-right: 120px;
}
.footer-icons {
  fill: var(--background-color-second);
}

.appshadow {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.appshadow:hover,
.appshadow:focus {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.icon-fill {
  fill: var(--background-color-second);
}
.background-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backgroundmodal-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.window-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background-color: var(--windowmodal-color);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.2);

  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--button-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: var(--active-color);
  border: none;
}
.icon-close-style {
  top: 8px;
  left: 8px;
  fill: var(--brand-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .icon-close-style,
.close-button:focus .icon-close-style {
  fill: var(--background-color);
}

.blue-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
  letter-spacing: 0.02em;
  background-color: var(--normal-color);
  color: var(--background-color-second);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.blue-card {
  position: relative;
  overflow: hidden;
}
.appshadow:hover .blue-text,
.appshadow:focus .blue-text {
  transform: translateY(0);
}

.link-active {
  position: relative;
  color: var(--active-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: var(--active-color);
  border-radius: 2px;
}

.footer-form {
  margin-left: 80px;
}
.subscribe-form {
  display: flex;
  gap: 24px;
}
.subscribe-label {
  margin-bottom: 16px;
  color: var(--background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--normal-color);
  color: var(--background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--active-color);
}

.email-form {
  gap: 24px;
  padding-left: 16px;
  width: 264px;
  height: 40px;
  border: 1px solid var(--background-color);
  color: var(--background-color);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
::placeholder {
  color: var(--background-color);
}

.icon-subscribe {
  margin-left: 16px;
  fill: var(--background-color);
}
.form-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  text-align: center;
}
.content-modal {
  margin-bottom: 8px;
}

.label-modal {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  margin-bottom: 4px;
}

.input-field {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--brand-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-field:focus-within {
  border-color: var(--normal-color);
}

.input-field:focus-within + .modal-icon {
  fill: var(--normal-color);
}

.data-field {
  position: relative;
}
.field-comment {
  margin-bottom: 16px;
}
.field-text {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-text:focus-within {
  border-color: var(--normal-color);
}
.checkbox-field {
  margin-bottom: 24px;
}
.terms-conditions {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--logo-color);
}
.accept-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.modal-check:checked + .terms-conditions span {
  background-color: var(--active-color);
  fill: var(--background-color-second);
  border: none;
}

.privacy-policy {
  color: var(--normal-color);
}

.send-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
  cursor: pointer;
  background-color: var(--normal-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover,
.send-button:focus {
  background-color: var(--active-color);
}
